{% extends 'base.html.twig' %}

{% block content %}
Hello World!dddd

<form xmlns="http://www.w3.org/1999/html" method="POST">
    {{ form_widget(form) }}

    <input type="submit" value="Submit">
</form>
{{ form_errors(form) }}

{% endblock %}